h1,h2,h3{
  font-family: 'Ubuntu', sans-serif;
}
h4,p,a{
  font-family: 'Roboto', sans-serif;
}

html,body{
  height: 100%;
}
body{
  margin: 0;
  background-color: black;
  color: white;
}
h1{
  font-size: 65px;
}
a{
  text-decoration: none;
  color: white;
  color: 32px;
}
a:active{
  text-decoration: none;
  color: white;
}
.navigation {
  padding: 0 !important;
  /* El !important lo uso para "pisar otro estilo". no es recomendable utilizarlo pero en este caso me sirve para evitar un padding que viene por defecto en flexboxgrid.css*/
}
#index{
  background-color: black;
  color: white;
  height: 100%;
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#index a{
  font-size: 50px;
  color: #222;
  display: flex;
  align-items: center;
}
#about-me{
  height: 100%;
display: flex;
flex-direction: column;
}
#about-me .full{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
ul{
  display: flex;
    justify-content: center;
    flex: 1;
    background: gray;
    height: 60px;
    padding: 0;
}
ul li{
  flex: 1;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
ul li:hover{
  background: white;
  color: black;
}
ul li a{
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
ul li a:hover{
  color: black;
}

.active{
  background: white;
}
.active a{
  color:black;
}


#work {
  font-size: 64px;
  margin: 0.5rem 0 2rem 0;
}
#work h1{
  font-weight: 100;
}
#work span{
  font-weight: 500;
}

#social-networks a{
  font-size: 50px;
  color: #222;
  align-items: center;
}
#social-networks img{
  max-width: 50px;
}
#social-networks a:hover{
  opacity: 0.5;
}



#curso{
  height: 100%;
}
#curso-first-child{
  display: flex;
flex-direction: column;
padding: 80px;
}
#curso-first-child h4{
  font-size: 32px;
  margin-bottom: 20px;
}
#curso-first-child h1{
  margin-top: 60px;
}
#curso-first-child h1 a{
  color: #222;
}
hr{
  width: 100%;
border: 1px solid #222;
margin-top: 30px;
margin-bottom: 30px;
}
