h1,h2,h3{
  font-family: 'Ubuntu', sans-serif;
}
h4,p,a{
  font-family: 'Roboto', sans-serif;
}

html,body{
  height: 100%;
}
body{
  margin: 0;
  background-color: black;
  color: white;
}
h1{
  font-size: 65px;
}
a{
  text-decoration: none;
  color: white;
}
a:active{
  text-decoration: none;
  color: white;
}

#index{
  background-color: black;
  color: white;
  height: 100%;
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*------------------------------------*/
#about-me{
  height: 100%;
display: flex;
flex-direction: column;
}
#about-me .full{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  display: flex;
    justify-content: center;
    flex: 1;
    background: gray;
    height: 60px;
    padding: 0;
}
ul li{
  flex: 1;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
ul li a{
  color: white;
  text-decoration: none;
}
.active{
  background: white;

}
.active a{
  color:black;
}

#work {
  font-size: 3rem;
}
